{% load static %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog | Pattathil Dhanya Menon</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body >
    <!-- Back to Home Button -->
    <div class="absolute top-8 left-4 sm:left-6 lg:left-8 z-10">
        <a href="{% url 'index' %} "class="flex items-center text-gray-700 hover:text-medical-blue transition-colors duration-300 group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mr-2 transform group-hover:-translate-x-1 transition-transform duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
            <span class="text-sm font-medium">Back to Home</span>
        </a>
    </div>

    <header
      class="flex flex-col items-center justify-center gap-5 px-5"
      style="
        background-image: url('{% static 'pattathildhanya/photos/Banner.png' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 210px;
      "
    >
      <h1 class="text-3xl lg:text-4xl font-semibold text-gray-800">
        Dr. Pattathil Dhanya Menon
      </h1>
      <p class="text-[14px] text-gray-600">
        Cyber Crime Investigator | First Woman Cyber Crime Investigator
      </p>
    </header>
    <section class="flex flex-col items-center justify-center gap-12 mt-10">
      <div class="">
        <h1 class="text-4xl lg:text-5xl font-bold text-gray-800">BLOGS</h1>
      </div>
      <section class="flex flex-col items-center justify-center gap-12 mt-10">
  

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-w-6xl mx-auto px-4 place-items-center">

    {% for post in posts %}
    <div class="max-w-[350px] w-full">
      <div class="border py-4 px-6">
      {% if post.image %}
      <img
        class="h-[200px] w-full object-cover"
        src="{{ post.image.url }}"
        alt="{{ post.title }}"
      />
      {% endif %}

      
        <h1 class="text-[19px] mb-1 font-semibold">
          {{ post.title }}
        </h1>

        <p class="text-gray-500 mb-2 text-[15px]">
          by {{ post.by }} | {{ post.created_at|date:"M d, Y" }} | {{ post.category }}
        </p>

        <p class="text-gray-600">
          {{ post.excerpt|truncatewords:35 }}
        </p>

        <a class="text-blue-400" href="{% url 'blog_detail' post.id %}">
          read more
        </a>
      </div>

    </div>
    {% empty %}
    <p>No blog posts available.</p>
    {% endfor %}

  </div>
</section>

    </section>
    <footer class="bg-[#140505] mt-24 py-4 flex items-center justify-center">
      <p class="text-gray-500">
        A unit of Avanzo Cyber Security Solutions | Avanzo Designs
      </p>
    </footer>
  </body>
</html>
